body {
	display: grid;
	place-items: center;

	height: 100vh;

	font-family: sans-serif;
	
	animation: changeBg 5s infinite alternate linear;
}

@keyframes changeBg{

	0% {
		background: #EE6055;
	}

	20% {
		background: #FF9B85;
	}

	40% {
		background: #FFD97D;
	}

	60% {
		background: #AAF683;
	}

	80% {
		background: #60D394;
	}

	100% {
		background: #4030CC;
	}

}

h2 { 
	text-align: center; 

	font-size: 2rem; 
} 
